.main_flex{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    // width: 85vw;
    // background-image: url('../images/abstract-dark-background-geometric-shapes-black-vector-27402314.jpg');
    .main{
        width: 85vw;
    }
}