// Templates

%home_skills_template {
    width: 200px;
    height: 200px;
    text-align: center;
    color: rgb(182, 182, 182);
    border: 2px whitesmoke solid;
    margin: 16px;
    border-radius: 50%;
    font-size: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    // background: conic-gradient(rgb(230, 145, 67) 340deg, rgba(255, 255, 255, 0) 0deg);
}

%home_skill_percentage_animation {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    border-radius: 50%;
}

%home_skills_text {
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    color: rgb(70, 70, 70);
}

%home_skill_icon_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%home_percentage_text{
    margin: 12px;
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


// SCSS code


.home_skills_div {

    width: 85vw;
    padding: 20px 0px 20px 0px;
    background-color: rgba(70, 61, 61, 0.6);

    .home_my_skills_title {
        font-size: 28px;
        padding: 30px 0px 10px 0px;
        text-align: center;
        color: whitesmoke;
        font-family: cursive;
        user-select: none;
    }


    .home_skills_border {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        // width: 70vw;

        .link_to_pages_from_home {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            // width: 928px;


            .home_skills_html {
                @extend %home_skills_template;
                // background: conic-gradient(rgb(230, 145, 67) 340deg, rgba(255, 255, 255, 0) 0deg);
                // animation: 2s infinite html linear;
                // transition: all 2s linear;
                .home_skill_percentage_animation {

                    @extend %home_skill_percentage_animation;

                    .home_skill_icon_text {
                        @extend %home_skill_icon_text;
                        .home_skills_text {
                            @extend %home_skills_text;
                            
                        }
                        .home_percentage_text{
                            @extend %home_percentage_text;
                        }
                    }

                }

            }

            // @keyframes html {
            //     0%{
            //         background: conic-gradient(rgb(230, 145, 67) 0deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            //     50%{
            //         background: conic-gradient(rgb(230, 145, 67) 120deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            //     100%{
            //         background: conic-gradient(rgb(230, 145, 67) 340deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            // }


            .home_skills_css {
                @extend %home_skills_template;
                background: conic-gradient(rgb(39, 81, 232) 340deg, rgba(255, 255, 255, 0) 0deg);

                .home_skill_percentage_animation {

                    @extend %home_skill_percentage_animation;

                    .home_skill_icon_text {
                        @extend %home_skill_icon_text;
                        .home_skills_text {
                            @extend %home_skills_text;
                        }
                        .home_percentage_text{
                            @extend %home_percentage_text;
                        }
                    }
                }
            }


            .home_skills_sass {
                @extend %home_skills_template;
                background: conic-gradient(rgb(148, 71, 129) 340deg, rgba(255, 255, 255, 0) 0deg);

                .home_skill_percentage_animation {

                    @extend %home_skill_percentage_animation;

                    .home_skill_icon_text {
                        @extend %home_skill_icon_text;
                        .home_skills_text {
                            @extend %home_skills_text;
                        }
                        .home_percentage_text{
                            @extend %home_percentage_text;
                        }
                    }
                }
            }


            .home_skills_other {
                @extend %home_skills_template;

                .home_skill_percentage_animation {

                    @extend %home_skill_percentage_animation;

                    .home_skill_icon_text {
                        @extend %home_skill_icon_text;
                        .home_skills_text {
                            @extend %home_skills_text;
                        }
                        .home_percentage_text{
                            @extend %home_percentage_text;
                        }
                    }

                }

                background-color: black;
            }
        }
    }
}