// Imports

@import '../../../MediaSCSS/Variables.scss';
@import '../../../MediaSCSS/Breakpoints.scss';

// Media

@include notebook{
    .home_projects_div{
        .home_projects_border{
            .link_to_pages_from_home{
                justify-content: center;
            }
        }
    }
}

@include St_mobile {
    .home_projects_div{
        .home_projects_border{
            .link_to_pages_from_home{
                width: auto;
                .home_project{
                    width: 240px;
                    height: 170px;
                }
            }
        }
    }
}