.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    /* background-color:aqua; */
}

.circle-wrap .circle .mask {
    clip: rect(0px, 220px, 220px, 110px);
}

.mask .fill {
    clip: rect(0px, 110px, 220px, 0px);
    background-color: #ec0c0c;
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    /* transform: rotate(110deg); */
} 
 
/* @keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(110deg);
    }
} */