%home_project_template {
    width: 20vw;
    height: 30vh;
    text-align: center;
    color: rgb(182, 182, 182);
    border: 2px whitesmoke solid;
    border-radius: 20px;
    margin: 8px;
    border: 2px #777777 solid;
    font-size: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

%home_project_text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.home_projects_div {

    padding: 20px 0px 20px 0px;
    cursor: pointer;
    // background-color: rgb(128, 128, 128);

    .home_my_projects_title {
        font-size: 29px;
        font-family:cursive;
        padding: 10px 0px 30px 0px;
        text-align: center;
        color: whitesmoke;
    }

    .home_projects_border {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        // background-color: aqua;

        .home_project_auto_electric {
            @extend %home_project_template;
            background-image: url("../../../../images/background/abstract-dark-background-geometric-shapes-black-vector-27402314.jpg");

            .home_project_text {
                @extend %home_project_text;
            }
        }

        .home_project_spy_game {
            @extend %home_project_template;
            .home_project_text {
                @extend %home_project_text;
            }
            background-image: url("../../../../images/background/abstract-geometric-shapes-texture-triangles-backdrop-triangle-background-structure-wallpaper-white-black-143560257.jpg");
        }

        .home_project_other {
            @extend %home_project_template;
            .home_project_text {
                @extend %home_project_text;
            }
            background-image: url("../../../../images/background/black-background-with-geometric-lines_1053-593.avif");
        }
    }
}