.skills_page {
    .skills_section {
        .skills_div_flex {
            .skills_div {
                .skill_animation {
                    
                    .skill_percentage_animation {
                        .delete_skill_button {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(85, 42, 165);
                            position: absolute;
                            color: white;
                            left: 100%;
                            top: 0%;
                            cursor: pointer;
                        }
                    }
                }
                .skill_animation:hover {
                    scale: 1;
                }
            }
        }
    }

    .create_front_skill_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vw;
        padding: 20px;
        background-color: brown;
    }
}