// Templates

%home_skills_template {
    width: 200px;
    height: 200px;
    text-align: center;
    color: rgb(182, 182, 182);
    border: 1.8px rgb(225, 225, 225) solid;
    margin: 16px;
    border-radius: 50%;
    font-size: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

%home_skill_percentage_animation {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 230, 202);
    border-radius: 50%;
}

%home_skills_text {
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    color: rgb(70, 70, 70);
    position: relative;
}

%home_skill_icon_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

%home_percentage_text {
    margin: 12px;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


// Style


.home_skills_div {
    width: 85vw;
    padding: 20px 0px 50px 0px;
    background-color: rgba(70, 61, 61, 0.6);

    .home_my_skills_title {
        font-size: 28px;
        padding: 20px 0px 20px 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        text-align: center;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.2);
        user-select: none;
    }


    .home_skills_border {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        .link_to_pages_from_home {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-decoration: none;


            .home_skills {
                @extend %home_skills_template;

                .home_skill_percentage_animation {

                    @extend %home_skill_percentage_animation;

                    .home_skill_icon_text {
                        @extend %home_skill_icon_text;

                        .home_skills_text {
                            @extend %home_skills_text;
                        }

                        .home_percentage_text {
                            @extend %home_percentage_text;
                        }
                    }
                }


            }

            // @keyframes html {
            //     0%{
            //         background: conic-gradient(rgb(230, 145, 67) 0deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            //     50%{
            //         background: conic-gradient(rgb(230, 145, 67) 120deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            //     100%{
            //         background: conic-gradient(rgb(230, 145, 67) 340deg, rgba(255, 255, 255, 0) 0deg);
            //         transition: all 2s linear;
            //     }
            // }

            .home_skill_percentage_animation {

                @extend %home_skill_percentage_animation;

                .home_skill_icon_text {
                    @extend %home_skill_icon_text;

                    .home_skills_text {
                        @extend %home_skills_text;
                    }

                    .home_percentage_text {
                        @extend %home_percentage_text;
                    }

                }

                .other_div {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.7);

                    .other_skills_text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 32px;
                        color: rgb(182, 182, 182);
                        margin: 0;
                        user-select: none;
                    }
                }
            }
        }
    }
}