// Template

%social_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 75px;
    border: 2.5px white dashed;
    margin: 10px 0px 10px 0px;
}

%social_div_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
    .social_div_icon {
        border: 2px rgb(162, 162, 162) solid;
        border-radius: 11px;
        user-select: none;
    }
}

%social_div_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    font-size: 18px;
    margin: 0;
    color: white;
}

%social_link {
    width: 40px;
    height: 40px;
    user-select: none;
}


// Style

.social_div_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 10px 0px;

    .social_div {
        @extend %social_div;

        .social_div_elements {
            @extend %social_div_elements;

            .social_div_text {
                @extend %social_div_text;
            }

            .social_div_link {
                @extend %social_link;
            }
        }
    }
}