// Templates

%skills_template {
    width: 220px;
    height: 220px;
    text-align: center;
    color: rgb(182, 182, 182);
    border: 1.8px rgb(225, 225, 225) solid;
    margin: 16px;
    border-radius: 50%;
    font-size: 22px;
    transition: all 0.25s linear;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}

%skill_percentage_animation {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 230, 202);
    border-radius: 50%;
}

%skills_text {
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    color: rgb(70, 70, 70);
    position: relative;
}

%skill_icon_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

%percentage_text {
    margin: 12px;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


// Style


.skills_page {
    background-color: rgba(70, 61, 61, 0.6);

    .skills_section {
        .skills_page_title {
            padding: 20px 0px 20px 0px;
            margin: 0;
            font-size: 28px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                'Lucida Grande', 'Lucida Sans', Arial, sans-serif,
                'Times New Roman', Times, serif;
            letter-spacing: 2px;
            text-align: center;
            color: rgb(230, 230, 230);
            background-color: rgba(0, 0, 0, 0.4);
            user-select: none;
        }

        .skills_div_flex {
            display: flex;
            justify-content: center;
            align-items: center;

            .skills_div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 72vw;
                padding: 20px 0px 20px 0px;


                .skill_animation {
                    @extend %skills_template;

                    // .circle-wrap .circle .mask,
                    // .circle-wrap .circle .fill {
                    //     width: 220px;
                    //     height: 220px;
                    //     position: absolute;
                    //     border-radius: 50%;
                    // }

                    // .circle-wrap .circle .mask {
                    //     clip: rect(0px, 220px, 220px, 110px);
                    // }

                    // .mask .fill {
                    //     clip: rect(0px, 110px, 220px, 0px);
                    //     background-color: #ec0c0c;
                    // }

                    // .mask.full,
                    // .circle .fill {
                    //     animation: fill ease-in-out 3s;
                    //     transform: rotate(140deg);
                    // }

                    // @keyframes fill {
                    //     0% {
                    //         transform: rotate(0deg);
                    //     }

                    //     100% {
                    //         transform: rotate(140deg);
                    //     }
                    // }

                    .skill_percentage_animation {

                        @extend %skill_percentage_animation;

                        .skill_icon_text {
                            @extend %skill_icon_text;

                            .skills_text {
                                @extend %skills_text;
                            }

                            .percentage_text {
                                @extend %percentage_text;
                            }

                            .icon_img {
                                width: 55px;
                                height: 55px;
                            }
                        }

                        .skill_opacity {
                            width: 220px;
                            height: 220px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            border-radius: 50%;
                            transform: translate(-50%, -50%);
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
                }

                .skill_animation:hover {
                    scale: 1.05;
                    transition: all 0.25s linear;
                    box-shadow: 0 0 15px #79a2db;
                }

            }
        }

    }

}