// Style

.home_div_flex {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 61, 61, 0.6);
    padding-top: 50px;

    .home_div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image_div {
            width: 105px;
            height: 105px;
            border-radius: 50%;
            border: 2px rgb(0, 0, 0) solid;
            background-image: url("../../../../images/home_person_image.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }

        .home_title {
            color: white;
            text-align: center;

            .hi_text {
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .create_text {
                width: 35vw;
                padding: 10px 0px 10px 0px;
                font-size: 26px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 600;
                background: linear-gradient(135deg, white, rgb(150, 150, 150));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .download_hire_button_div {
            width: 32vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px 0px 0px;
            user-select: none;

            .home_button {
                width: 175px;
                height: 47px;
                // width: 100%;
                // height: 100%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border: 2px rgb(88, 190, 190) solid;
                color: whitesmoke;
                display: inline-block;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin: 24px;
                background: rgb(20, 20, 20);
                box-shadow: inset 0 0 0 0 black;
                -webkit-transition: ease-out 0.3s;
                -moz-transition: ease-out 0.3s;
                transition: ease-out 0.3s;
                user-select: none;
                cursor: pointer;

                .download_cv_home_hire_me_link {
                    text-decoration: none;
                    color: white;
                    width: 100%;
                    height: 100%;
                    .par{
                        width: 175px;
                        height: 47px;
                        margin: 0px;
                    }
                }

            }

            .home_button:hover {
                box-shadow: inset 175px 0 0 0 rgb(0, 214, 214);
                border: 2px black solid;
                color: black;

                .download_cv_home_hire_me_link {
                    color: black;
                }
            }
        }

    }
}