.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    .copyright_flex{
        padding: 25px 0px 25px 0px;
        color: rgb(190, 190, 190);
        .copyright_author{
            color: rgb(220, 220, 220);
        }
    }
}