// Template

%social_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 75px;
    border: 1px white solid;
    margin: 10px 0px 10px 0px;
}

%social_div_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
}

%social_div_text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    font-size: 18px;
    margin: 0;
    color: #111;
}

%social_link {
    width: 40px;
    height: 40px;
    user-select: none;
}


// Style

.contact_page {
    background-color: rgba(70, 61, 61, 0.6);

    .social_div_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0px 10px 0px;

        .social_div_linkedin {
            @extend %social_div;
            background: linear-gradient(90deg, rgb(186, 212, 224), rgb(0, 119, 183));

            .social_div_elements {
                @extend %social_div_elements;

                .social_div_icon {
                    border: 2px rgb(162, 162, 162) solid;
                    border-radius: 11px;
                    user-select: none;
                }

                .social_div_text {
                    @extend %social_div_text;
                }

                .social_div_link {
                    @extend %social_link;
                }
            }
        }

        .social_div_github {
            @extend %social_div;
            background: linear-gradient(90deg, rgb(195, 200, 200), #3b3b3b);

            .social_div_elements {
                @extend %social_div_elements;

                .social_div_icon {
                    border: 2px rgb(162, 162, 162) solid;
                    border-radius: 11px;
                    user-select: none;
                }

                .social_div_text {
                    @extend %social_div_text;
                }

                .social_div_link {
                    @extend %social_link;
                }
            }
        }



        .social_div_facebook {
            @extend %social_div;
            background: linear-gradient(90deg, rgb(190, 190, 190), rgb(58, 85, 159));

            .social_div_elements {
                @extend %social_div_elements;

                .social_div_icon {
                    border: 2px rgb(162, 162, 162) solid;
                    border-radius: 11px;
                    user-select: none;
                }

                .social_div_text {
                    @extend %social_div_text;
                }

                .social_div_link {
                    @extend %social_link;
                }
            }
        }


        .social_div_instagram {
            @extend %social_div;
            background: linear-gradient(90deg, rgb(254, 194, 93), rgb(225, 53, 105));

            .social_div_elements {
                @extend %social_div_elements;

                .social_div_icon {
                    border: 2px rgb(162, 162, 162) solid;
                    border-radius: 11px;
                    user-select: none;
                }

                .social_div_text {
                    @extend %social_div_text;
                }

                .social_div_link {
                    @extend %social_link;
                }
            }
        }

    }


    .form_div_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 30px 0px;

        .form_div {
            width: calc(50vw + 40px);

            .contact_me_title {
                text-align: center;
                font-size: 35px;
                background: linear-gradient(135deg, white, rgb(142, 255, 255));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .contact_me_text {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 18px;
                color: #cccccc;
            }

            .name_Email_div {
                width: calc(50vw + 42px);
                display: flex;
                justify-content: space-between;
                align-items: center;


                .input_style {
                    outline: none;
                    background-color: rgb(29, 32, 32);
                    color: rgb(144, 137, 125);
                    border: 0.7px rgb(78, 78, 78) solid;
                    width: 22vw;
                    height: 50px;
                    padding: 0px 20px 0px 20px;
                    margin: 15px 0px 15px 0px;
                }
            }

            .input_style_subject {
                width: 50vw;
                outline: none;
                background-color: rgb(29, 32, 32);
                color: rgb(144, 137, 125);
                border: 0.7px rgb(78, 78, 78) solid;
                height: 50px;
                padding: 0px 20px 0px 20px;
                margin: 15px 0px 15px 0px;
            }

            .textarea_style {
                width: 50vw;
                outline: none;
                background-color: rgb(29, 32, 32);
                border: 0.7px rgb(78, 78, 78) solid;
                color: rgb(144, 137, 125);
                resize: vertical;
                min-height: 170px;
                padding: 20px;
                margin: 15px 0px 15px 0px;
            }

            .send_button_div {
                display: flex;
                justify-content: center;
                width: calc(50vw + 40px);

                .send_button {
                    width: calc(50vw + 40px);
                    height: 70px;
                    background-color: green;
                    font-size: 25px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    border-radius: 8px;
                    border: 0px;
                    color: whitesmoke;
                    cursor: pointer;
                }
            }
        }
    }

}