.main_flex{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    // width: 85vw;
    // background-image: url('../images/abstract-dark-background-geometric-shapes-black-vector-27402314.jpg');
    .main{
        width: 85vw;
    }
}