// Style

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.6);
    height: 20vh;

    .footer_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60vw;

        .footer_contacts{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 13vh;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            .footer_contact_icon_text{
                display: flex;
                align-items: center;
                .footer_contact_icon{
                    user-select: none;
                }
                .footer_contacts_text{
                    margin-left: 6px;
                    font-size: 17px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    
        .footer_social_icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20vw;
            .footer_icon{
                border: 2px rgb(162, 162, 162) solid;
                border-radius: 12px;
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

.dividing_line{
    width: 85vw;
    height: 0.8px;
    border-radius: 20px;
    background-color: rgb(160, 160, 160);
}