body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* min-height: 100vh; */
  /* position: relative; */
  /* height: 1px;
  min-height: 300px;  */
  /* height: 100%; */
}


.container {
  height: 100%;
  background: linear-gradient(-45deg, orange,  #3f67f9, rgb(22, 163, 46), rgb(41, 142, 41));
  background-size: 600% 600%;
  /* transition: all 4s linear; */
  animation: backgroundAnimation 5s infinite linear;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.hex {
  background: url("./images/background/Hexagon.svg") repeat;
  position: relative;
  /* top: 0;
  left: 0;
  width: 100%; */
  /* height: 100%; */
  background-size: 230px;
  z-index: 1;
}


.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  /* background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%); */
  filter: blur(10px);
  z-index: 0;
}